@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap");
:root {
  --primary: rgba(30, 33, 38);
}

.home_container {
  width: 84%;
  margin: 3em auto;
  margin-top: 0 !important;
}

@media (max-width: 1120px) {
  .home_container {
    width: 98%;
  }
}
@media (max-width: 950px) {
  .home_container {
    width: 90%;
  }
}
