@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap");

.packages_container {
  margin: 8em auto;
  text-align: center;
}

.packages_container .main_heading {
  font-size: 35px;
  line-height: 36px;
  color: #d66e4a;
}

.packages_container .sub_heading {
  line-height: 22px;
  font-size: 15px;
  margin: 1em 0;
  color: white;
}

.packages_container .package_grid {
  margin: 8em auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 300px 300px;
  cursor: pointer;
}

.packages_container .package_grid .package_image[id="1"] {
  background: url("../../assets/tailor-pckg-1.jpg") no-repeat;
  background-size: 100% 100%;
}

.packages_container .package_grid .package_image[id="2"] {
  background: url("../../assets/tailor-pckg-2.jpg") no-repeat;
  background-size: 100% 100%;
}

.packages_container .package_grid .package_image[id="3"] {
  background: url("../../assets/tailor-pckg-3.jpg") no-repeat;
  background-size: 100% 100%;
}

.packages_container .package_grid .package_image[id="4"] {
  background: url("../../assets/tailor-pckg-4.jpg") no-repeat;
  background-size: 100% 100%;
}

.packages_container .package_grid .package_image_overlay {
  background: rgba(30, 33, 38, 0.9);
  height: 100%;
  width: 50%;
  float: right;
  transition: 0.4s;
}

.packages_container .package_grid .package_image_overlay > div {
  display: grid;
  place-items: center;
  height: 100%;
}

.package_grid div:hover .package_image_overlay:nth-child(odd) {
  transform: translate(-101%);
}

.package_grid div:hover .package_image_overlay:nth-child(even) {
  transform: translate(-101%);
}

.packages_container .package_grid .package_image_overlay .title {
  color: #ababab;
  margin: 0px auto;
  width: 50%;
  line-height: 22px;
  font-size: 15px;
}

.packages_container .package_grid .package_image_overlay .description {
  line-height: 20px;
  margin: 0 auto;
  width: 60%;
  font-size: 11px;
  color: #ababab;
}

.packages_container .package_grid .package_image_overlay .separation_bar {
  margin: 0px auto;
  height: 3px;
  background: #d66e4a;
  width: 40px;
}

.packages_container .package_grid .package_image_overlay .destination {
  bottom: 0;
  line-height: 20px;
  width: 100%;
  font-size: 11px;
  color: #ffffff;
  background: #d66e4a;
  padding: 1em;
  letter-spacing: 0.01cm;
  text-align: center;
}

@media (max-width: 1000px) {
  .packages_container .package_grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 40em);
  }

  .title,
  .description {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .packages_container .package_grid {
    grid-template-rows: repeat(4, 35em);
  }
}

@media (max-width: 500px) {
  .packages_container .package_grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 28em);
  }

  .destination,
  .separation_bar {
    display: none;
  }
}
