@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  --primary: rgb(30, 33, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--primary);
  height: 100vh;
}

.normal_header {
  position: sticky;
  width: 100%;
  background: transparent;
  margin: 0 0 3em 0;
  padding: 3rem 6% 1rem 6%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.sticky_header {
  width: 100%;
  top: 0;
  position: fixed;
  background: rgb(0, 0, 0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 6% 1rem 6%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

header .logo {
  flex: 2%;
}

header .navbar {
  margin-left: -35px;
  flex: 70%;
}

header .navbar a,
h2,
header .holiday_nav a,
p {
  font-size: 1.2rem;
  margin-left: 3rem;
  /* font-weight: bolder; */
  color: white;
}

header .navbar h2 {
  font-size: 1.8rem;
  display: inline;
  font-weight: lighter;
}

header .navbar a:hover {
  color: gray;
}

header .holiday_nav a:hover {
  color: gray;
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

header .holiday_nav {
  flex: 30%;
  text-align: right;
}
header .holiday_nav p {
  display: inline-block;
  margin: 0.3em 0 0 0;
  font-weight: medium;
}

header .holiday_nav a {
  font-size: 1.1rem;
  border: 1px solid white;
  padding: 0.3em 2.5em;
  margin: 0 0 0 10px;
}

/* media queries  */
@media (max-width: 1200px) {
  header .holiday_nav p {
    display: none;
  }
  header .navbar h2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 99%;
    left: 30px;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    background: rgba(20, 24, 33, 0.95);
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  header .navbar h2,
  header .holiday_nav {
    display: none;
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
